@use "src/assets/styles/common" as *;

.wrapper {
  height: 100vh;
  overflow-x: hidden;
}
.content {
  @media (min-width: 576px) {
    & {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    & {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    & {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    & {
      max-width: 1140px;
    }
  }
}
